/*---------------
Rewriting Bootstrap
-----------------*/

.card {
  -webkit-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.37);
  -moz-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.37);
  box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.37);
}

/*-------------
Style and Design
*/
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
@media (min-width: 768px) {
  html{
    font-size: 1.1rem;
  }
}
body{
  background-color: #f2f2f2;
}
/* Globales */
.contenedor {
  width: 90%;
  margin: 0 auto;
}
.container{
  width: 95%;
  max-width:120rem;
  margin: 0 auto;
}
.section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}
/* Parte Superior */
h1,h2 {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.hero img {
  width: 100%;
  height: 30rem;  
}
.resume {
  display: flex;
  padding-left: 4px;
  color: #212529;
}
a:hover {
  color: #212529;
}
/* Iconos */
.iconos {
  display: flex;
  font-size: 4rem;
  justify-content: space-evenly;
  margin-top: 1px;
}

/* parrafo about me */
p {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  line-height: 1.3rem;
}

/* Card of the skills */
.center {
  display: flex;
  justify-content: center;
}

/* Formulario */
form {
  padding: 2rem;
  border: 1px solid black;
}
label {
  display: block;
}
input {
  width: 50%;
  height: 25%;
}
textarea {
  width: 50%;
}
.userName {
  display: block;
  padding-bottom: 5px;
  margin-left: 25%;
}
.error {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
}

.error-email {
  display: flex;
  margin-bottom: 1rem;

}

/* Footer */
footer{
  display: flex;
  justify-content: center;
}
.icono {
  margin-top: 3px;
  cursor: pointer;
  color: black;
}

