
/*---------------
Editing Bootstrap
-----------------*/
.bg-dark-navbar {
  --bs-bg-opacity: 1;
  background-color: #020408!important;
}
.bg-dark-navbar--active {
  --bs-bg-opacity: 1;
  background-color: #0a1729!important;
} 
.card {
  -webkit-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.37);
  -moz-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.37);
  box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.37);
}
.bg-dark {
  --bs-bg-opacity: 1;
  background-color: #0a1729!important;
}
.btn-dark {
  --bs-btn-bg: rgba(0,0,0,1);
  --bs-btn-border-color: rgba(0,0,0,1);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #424649;
  --bs-btn-hover-border-color: #343131;
}

/*-------------
Style and Design
*/
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
@media (min-width: 768px) {
  html{
    font-size: 1.1rem;
  }
}
body{
  background: rgb(131,58,180);
  background: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(10,23,41,1) 50%, rgba(0,0,0,1) 100%);
  color: #ffffff;
}
/* Globales */
.contenedor {
  width: 90%;
  margin: 0 auto;
}
.container{
  width: 95%;
  max-width: 90rem;
  margin: 0 auto;
}
.section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}
.content {
  display: flex;
}
.center {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 4px;
}
/* Superior Part */
h1,h2 {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.hero img {
  width: 100%;
  height: 17rem;  
}
@media (min-width: 728px) {
  .hero img {
    width: 100%;
    height: 30rem; 
  }
}
a:hover {
  color: #833ab4;
}

/* Icons */
.icons {
  display: flex;
  font-size: 4rem;
  justify-content: space-evenly;
  margin-top: 1px;
}
/* p about me */
p {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  line-height: 1.3rem;
}
 
/* Card of the skills */
.container-long {
  display: block;
  margin-left: 19%;
  width: 60%;
}
@media (min-width: 728px) {
  .container-long {
    display: flex;
    margin-left: 25.1%;
    width: 43%;
    flex-direction: column;
  }
}
.lang-name {
  display: flex;
  justify-content: space-around;
}
.container-short {
  display: block;
  margin-left: 19%;
  width: 60%;
}
@media (min-width: 768px) {
  .container-short {
    margin-left: 25%;
    width: 43%;
  }
}
.container-long_front {
  display: block;
  margin-left: 19%;
  width: 60%;
}
@media (min-width: 768px) {
  .container-long_front {
    width: 43%;
    margin-left: 25%;
  }
}
.front-name {
  display: flex;
  justify-content:space-around;
}

.container-frameworks {
  display: block;
  margin-left: 19%;
  width: 60%;
}
@media (min-width: 768px) {
  .container-frameworks{
  margin-left: 25%;
  width: 43%;
  }
}

/* Why I do like Programming */
.title-programming {
  display: flex;
  margin-left: 40%;
  width: 21%;
}
@media (min-width: 768px) {
  .title-programming {
    display: flex;
    margin-left: 41%;
  }
}
.content-programming {
  margin-left: 4%;
  width: 89%;
}
@media (min-width: 768px) {
  .content-programming {
    margin-left: 62%;
    width: 89%;
  }
}

/* Projects */
.resume {
  display: flex;
  padding-left: 0px;
  color: #ffffff;
  padding-top: 14%;
}
@media (min-width: 768px) {
  .resume{
  display: flex;
  padding-left: 4px;
  color: #ffffff;
  padding-top: 0%;
  }
}
.projects {
  display: block;
}
.content-project {
  display: flex;
  margin-left: 20.5%;
  width: 57%;
}
@media (min-width: 768px) {
  .content-project {
    display: flex;
    margin-left: -24.5%;
    width: 53%;
  }
}
.project-card{    
  display: block;
}
@media (min-width: 768px) {
  .project-card {
    display: flex;
    margin-left: -85.3%;
    flex-direction: column;
    width: 173%;
  }
}
.btn{
  margin-bottom: 12px;
}
.title {
  display: flex;
  margin-left: -2.9%;
  padding-top: 11%;
}
@media (min-width: 768px) {
  .title {
    display: flex;
    margin-left: -97.9%;
    padding-top: 50%;
  }
}

/* Footer */
footer{
  display: flex;
  justify-content: center;
}
.footer-padding{
  padding-right: 3px;
  padding-left: 3px;
}
.icon-gh {
  margin-top: 3px;
  cursor: pointer;
  color: black;
}
.icon-in {
color: white;
}

